
<html>
<style>
  #navigation{
    background-color: grey;
    color: white;
    text-align: center;
  }
  #home-page{
    background-color: grey;
  }
  #header{
    background-color: black;
  }
  #submit{
    margin-top: 30px;
    background-color: black;
    color: white;
    border-color: black;
  }
  #upload{
    margin-top: 30px;
    background-color: black;
    color: white;
  }

</style>
<% @body_id = 'home-page' %>
<% content_for :sidebar do %>
  <div id ="navigation" data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
  <div id="upload">
  <input type="file" id="fileInput">
</div>
 <form >
  <input type="submit" value="Submit" id="submit">
</form>
<% end %>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
<%= products_structured_data(@products) %>
<script>
  let fileInput = document.getElementById('fileInput');
  let fileDisplayArea = document.getElementById('fileDisplayArea');
fileInput.addEventListener('change', function (e) {
    event.preventDefault()
        var file = fileInput.files[0];
        var textType = /text.*/;

        if (file.type.match(textType)) {
            var reader = new FileReader();

            reader.onload = function (e) {
               let readXml = e.target.result
               let parser = new DOMParser();
               let doc = parser.parseFromString(readXml, "text/xml");

    let submit = document.getElementById("submit")
    submit.addEventListener("click",(event)=>{
    event.preventDefault()
    let name_1 = doc.getElementsByTagName("name")[0].childNodes[0].nodeValue;
    let price_1 = doc.getElementsByTagName("price")[0].childNodes[0].nodeValue;
    let description_1 = doc.getElementsByTagName("description")[0].childNodes[0].nodeValue;
    let shipping_1 = 1
    fetch("http://localhost:3000/api/v1/products", {
    body: `product[name]=${name_1}&product[price]=${parseInt(price_1)}&product[shipping_category_id]=${(shipping_1)}&product[description]=${description_1}`,
     headers: {
     "Content-Type": "application/x-www-form-urlencoded",
     "X-Spree-Token": "f10843e134b925f71ddc93eef7b5dbd3c2b69eba1831decc"
     },
     method: "POST"
   })
            })
    }

            reader.readAsText(file);
        } else {
            xmlFileInfo.innerText = "File not supported!"
        }
  });
</script>
</html>





